<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fgroup.name %>
</p>

<p>
  <b>Chemicals:</b>
<<<<<<< HEAD
  <% @fgroup.chemicals.each do |chemical| %>
	<li>
	<%= link_to chemical.name, chemical %>
	</li>
=======
  <%= @fgroup.chemicals.each do |chemical| %>
	<li><%= link_to chemical.name, chemical %></li>
>>>>>>> ae5fc6decae3133bd2fa08199d578a63386058a6
  <% end %>
</p>	

<%= link_to 'Edit', edit_fgroup_path(@fgroup) %> |
<%= link_to 'Back', fgroups_path %>
